indir	/directory/to/where/all/ffn/files/are/
outdir	/directory/to/where/you/want/to/save/the/results/
clade1	a.ffn	b.ffn
clade2	c.ffn	d.ffn
clade3	e.ffn	f.ffn	g.ffn
blast	/directory/to/blast/bin/directory
clustalW	/directory/to/clustalw2/directory/
PHYLIP	/directory/to/PHYLIP/bin/directory/
puzzle	/directory/to/TREE-PUZZLE/bin/directory/
KaKsCal	/directory/to/KaKs_Calculator/bin/directory/
Ks	0.02
nproc	4
